*.log*
*.swp
*.swo
*un~
*.old
*.new
*.scalaZ
*.DS_Store
project/project/
project/target/
target
.classpath
.project
.settings
.metadata
bin/
tmp/
deployment/.vagrant/
wiki/
*.DS_Store
.history
*.cache
.idea/
logs/
.idea_modules/
*.iml
.idea/
target/
